#first-v{
    height: 100vh; // 800px
    background-image: url("../img/Blond\ woman\ with\ long\ curly\ beautiful\ hair_2x.png");
    background-position: right;
    // 689px(画像横幅) / 1282px(画面横幅) = 54%
    background-size: 54%;
    background-repeat: no-repeat;

    @include tab{
        background-position: initial;
        background-size: cover;
    }



    .first-v__wrap{
        // 594px / 1282px(画面サイズ)
        width: 46%;
        height: 100%;
        padding-top: 106px; // headerの高さ(.catch-wrapをheader後する為)
        position: relative;

        @include tab{
            width: 100%; 
        }

        .catch-wrap{
            // 390px / 1282px(画面サイズ)
            width: 30.5vw;
            height: 184px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 3.8rem;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            @include tab{
                flex-direction: column-reverse;
                color: #fff;
                // 288px/ 375px(画面サイズ)
                width: 75vw;

                .catch-ja{
                    // spに合わせて少し小さく
                    font-size: 3.3rem;
                }
            }

            @include sp{
                height: 118px;

                .catch-en{
                    font-size: 2.8rem;
                }

                .catch-ja{
                    font-size: 2.3rem;
                }

            }
        }
    }
}