footer{

    .footer-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #70707036;
        // 1282px-(110px(余白)*2) /1282px(画面サイズ)
        width: 83%;
        // 165px(上余白) / 800px(画面高さ) = 20.5vh
        // 62px(下余白) / 800px(画面高さ) = 8vh
        margin: 20.5vh auto 8vh;
        padding-top: 83px;

        @include tab{
            flex-direction: column-reverse;
            // (375px-20px*2) / 375px(画面サイズ)
            width: 90%;
            // 60px(上余白) / 597px(画面高さ) = 10vh
            // 20px(下余白) / 597px(画面高さ) = 3vh
            margin: 10vh auto 3vh;
            padding-top: 10vh;
        }

        .cmp-name{
            display: flex;
            align-items: center;

            @include tab{
                width: 100%;
                // 60px(上余白) / 597px(画面高さ) = 10vh
                margin-top: 10vh;
                justify-content: space-between;
            }

            .ft-logo{
                font-size: 3.2rem;
                color: #7070704D;
            }

            .ft-sns{
                font-size: 2rem;

                &:nth-of-type(1){
                    margin: auto 10px auto 25px;
                }
            }


        }

        .ft-btn{
            width: 184px;
            height: 37px;
            font-size: 1.8rem;
            color: $font-dark-gray;
            border: 1px solid $font-dark-gray;
            background-color: #fff;
        }
    }
}


