// 70px / 597px (画面高さ) = 12vh
$header-height: 12vh;

header{
    width: 100%;

    display: flex;
    align-items: center;

    position: absolute;
    top: 70px;
    z-index: 1;
    // 77px / 1282px(画面サイズ)
    padding-left: 6%;

    @include tab{
        height: $header-height;
        padding-left: 0;
        position: relative; // .hamの為
        top: 0;
        justify-content: space-between;

    }

    .hd-logo{
        font-size: 3.8rem;

        @include tab{
            // 25px(上下余白) / 597px (画面高さ) =4vh
            // 21px(左余白) / 375px (画面横幅) =6vw
            position: absolute;
            top: 50%;
            left: 6vw;
            transform: translate(0, -50%);

        }

        @include sp{
            font-size: 2.2rem;
        }
    }

    /* ハンバーガーメニュー */
    #ham-open{  // 開閉の隠しチェックボックス
        display: none;
    }

    .ham{
        display: none;

        @include tab{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 27px;
            height: 27px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            z-index: 1;
            margin-right: 6vw; // 21px / 375px (画面サイズ)

            span{
                display: inline-block;
                width: 100%;
                height: 2px;
                background-color: #3B4043;

                &:nth-of-type(3){
                    width: 60%;
                }
            }
        }

        @include sp{
            width: 15px;
            height: 15px;
        }
    }

    /* Pcメニュー、ハンバーガーメニュー共通 */
    .menu{
        // 381px(pc-menuサイズ) / 1282px (画面サイズ)
        width: 30%;
        font-size: 1.8rem;
        color: $font-dark-gray;

        @include tab{
            // ハンバーガーメニュー閉じてる時
            display: none;
        }

        ul{
            display: flex;
            justify-content: space-between;

            @include tab{
                // ハンバーガーメニュー閉じてる時
                flex-direction: column;
            }

            li{
                margin-left: 20px;
                line-height: 0.9;

                &::after{
                    background-color: #000;
                    content: "";
                    display: block;
                    height: 1px;
                    width: 0;
                    transition: width 0.3s;

                    @include tab{
                        display: none;
                    }
                }

                @include pc{
                    transition: color 0.3s;

                    &:hover{
                        color: #000;

                        &::after{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    #ham-open:checked ~ .ham-button > .ham{
        // ハンバーガーメニュー閉じるボタン
        display: block;

        @include tab{
            span{
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);

                &:nth-child(1){
                    transform: rotate(45deg);
                }

                &:nth-child(2){
                    transform: rotate(-45deg);
                }

                &:nth-child(3){
                    display: none;
                }
            }
       }
    }

    #ham-open:checked ~ .menu{
        // ハンバーガーメニュー開いている時のメニュー
        @include tab{
            display: block;
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: $header-height;
            right: 0;
            z-index: -1;
            background-color: #D0C5BA;
 
            animation: 0.5s fadeIn;

            @keyframes fadeIn {
                from { opacity: 0; }
                to { opacity: 1; }
            }
        }
       ul{
            @include tab{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                width: 100%;
                height: 80%;
            }

            li{
                a{
                    @include tab{
                        display: block;
                        line-height: 3.8;
                    }
                }
            }
       }
    }
}