header{
    width: 100%;

    display: flex;
    align-items: center;

    position: absolute;
    top: 70px;
    z-index: 20;
    // 77px / 1282px(画面サイズ)
    padding-left: 6%;

    @include tab{
        padding-left: 0;
        position: relative; // hamの為
        top: 0;
        z-index: initial;
        justify-content: space-between;

    }

    .hd-logo{
        font-size: 3.8rem;

        @include tab{
            // 25px(上下余白) / 597px (画面高さ) =4vh
            // 21px(左余白) / 375px (画面横幅) =6vw
            margin: 4vh auto 4vh 6vw;
        }

        @include sp{
            font-size: 2.2rem;
        }
    }

    .ham{
        display: none;

        @include tab{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 25px;
            height: 25px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            margin-right: 6vw; // 21px / 375px (画面サイズ)

            span{
                display: inline-block;
                width: 100%;
                height: 2px;
                background-color: #3B4043;

                &:nth-of-type(3){
                    width: 60%;
                }
            }
        }

        @include sp{
            width: 15px;
            height: 15px;
        }
    }

    .pc-menu{
        // 381px(pc-menuサイズ) / 1282px (画面サイズ)
        width: 30%;
        font-size: 1.8rem;
        color: $font-dark-gray;

        @include tab{
            display: none;
        }

        ul{
            display: flex;
            justify-content: space-between;

            li{
                margin-left: 20px;
                line-height: 0.9;
                transition: color 0.3s;

                &::after{
                    background-color: #000;
                    content: "";
                    display: block;
                    height: 1px;
                    width: 0;
                    transition: width 0.3s;
                }

                &:hover{
                    color: #000;

                    &::after{
                        width: 100%;
                    }
                }
            }
        }
    }
}