// mixin
// PC画面以上
@mixin pc{
    @media (min-width: 1025px) {
        @content;
    }
}

// タブレット画面
@mixin tab{
    @media (max-width: 1024px) {
        @content;
    }
}

// スマホ画面
@mixin sp{
    @media (max-width: 599px){
        @content;
    }
}

/* 共通部分 */
html{
    font-size: 62.5%; //10px=1remになる
    scroll-behavior: smooth; // スムーススクロール
    // 80px(適当な止めたい位置) / 800px(画面高さ)
    scroll-padding-top: 10vh;  // スクロール位置の調整
}

body{
    font-size:12px;
    line-height:1.67;
    font-family: "Roboto Mono", sans-serif;
}

$font-dark-gray:#707070;
$bg-light-gray: #A193861F;
$bg-dark-gray: #A1938689;

$font-catch-ja: "ヒラギノ明朝 Pro W3", serif;

$sp-width: 90vw;

.inner{
    // (1282px-100px(余白)*2) / 1282px(画面サイズ)
    width: 85vw;
    margin: 0 auto;
    // 260px(上余白) / 800px(画面高さ) = 32.5vh
    // 65px(下余白) / 800px(画面高さ) = 8vh
    padding: 32.5vh 0 8vh;

    @include tab{
        // 60px(上余白) / 597px(画面高さ) = 10vh
        padding-top: 10vh;
        width: 80vw;
    }

    @include sp{
        width: $sp-width;
    }


    .title{
        color: $font-dark-gray;
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        &::after{
            content: "";
            width: 95px;
            border-top: 1px solid $font-dark-gray;
            margin-left: 20px;
        }
    }
}